## 패키지 참조

In [ ]:
from pandas import DataFrame,read_csv,read_excel,merge,melt,pivot_table,concat
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sb
import sys

### 여가생활,환경자족성지수 대상 최적의 군집 결과(양의지수) 교집합

In [2]:
kmeans1=read_excel('./교집합결과/여가생활,환경자족성지수voting1.xlsx')
dbscan1=read_excel('./교집합결과/여가생활,환경자족성지수voting2.xlsx')
hery=read_excel('./교집합결과/여가생활,환경자족성지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [3]:
tmp=concat([kmeans1,dbscan1],ignore_index=True)
tmp.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id
0,22,광희동,0.467260,0.051345,0.358815,0.001183,4
1,24,신당동,1.000000,0.031490,0.235243,0.301071,4
2,30,황학동,0.595757,0.041701,0.048504,0.602244,4
3,94,면목제4동,0.003249,0.050509,0.074074,0.949815,0
4,134,번제2동,0.004499,0.049283,0.113595,0.714229,0

In [4]:
tmp1=concat([tmp,hery],ignore_index=True)
tmp1.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id,labels
0,22,광희동,0.467260,0.051345,0.358815,0.001183,4.0,NaN
1,24,신당동,1.000000,0.031490,0.235243,0.301071,4.0,NaN
2,30,황학동,0.595757,0.041701,0.048504,0.602244,4.0,NaN
3,94,면목제4동,0.003249,0.050509,0.074074,0.949815,0.0,NaN
4,134,번제2동,0.004499,0.049283,0.113595,0.714229,0.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [5]:
tmp2=DataFrame(tmp1['읍면동명'].value_counts())
tmp2.to_excel('./교집합결과/여가생활,환경자족성지수 보팅결과.xlsx')
tmp1['읍면동명'].value_counts().head(10)

읍면동명
청림동      3
황학동      3
면목제4동    3
신당동      3
중계제4동    3
상계제1동    3
양재제1동    3
광희동      2
오륜동      2
사당제2동    2
Name: count, dtype: int64

### 사회적약자,환경자족성지수 대상 최적의 군집 결과(양의지수) 교집합

In [7]:
kmeans2=read_excel('./교집합결과/사회적약자,환경자족성지수voting1.xlsx')
dbscan2=read_excel('./교집합결과/사회적약자,환경자족성지수voting2.xlsx')
hery2=read_excel('./교집합결과/사회적약자,환경자족성지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [8]:
tmp3=concat([kmeans2,dbscan2],ignore_index=True)
tmp3.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id
0,0,청운효자동,0.002648,0.068435,0.114798,0.212495,3
1,24,신당동,1.000000,0.031490,0.235243,0.301071,3
2,28,신당5동,0.002298,0.042112,0.044088,0.242790,3
3,39,용문동,0.000000,0.055576,0.069764,0.180819,3
4,48,왕십리제2동,0.000000,0.054749,0.052393,0.243778,3

In [9]:
tmp4=concat([tmp3,hery2],ignore_index=True)
tmp4.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id,labels
0,0,청운효자동,0.002648,0.068435,0.114798,0.212495,3.0,NaN
1,24,신당동,1.000000,0.031490,0.235243,0.301071,3.0,NaN
2,28,신당5동,0.002298,0.042112,0.044088,0.242790,3.0,NaN
3,39,용문동,0.000000,0.055576,0.069764,0.180819,3.0,NaN
4,48,왕십리제2동,0.000000,0.054749,0.052393,0.243778,3.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [10]:
tmp5=DataFrame(tmp4['읍면동명'].value_counts())
tmp5.to_excel('./교집합결과/사회적약자,환경자족성지수 보팅결과.xlsx')
tmp4['읍면동명'].value_counts().head(10)

읍면동명
상계제1동    3
면목제4동    3
중계제4동    3
양재제1동    3
오륜동      3
번제2동     2
둔촌제1동    2
홍은제2동    2
상암동      2
사당제2동    2
Name: count, dtype: int64

### 접근성,환경자족성지수 대상 최적의 군집 결과(양의지수) 교집합

In [11]:
kmeans3=read_excel('./교집합결과/접근성지수,환경자족성지수voting1.xlsx')
dbscan3=read_excel('./교집합결과/접근성지수,환경자족성지수voting2.xlsx')
hery3=read_excel('./교집합결과/접근성지수,환경자족성지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [12]:
tmp6=concat([kmeans3,dbscan3],ignore_index=True)
tmp6.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id
0,2,삼청동,0.005332,0.090426,0.342620,0.602143,4
1,3,부암동,0.001699,0.067935,0.157400,0.602143,4
2,8,종로1.2.3.4가동,0.069040,0.206536,0.831703,0.063833,2
3,17,소공동,0.085553,0.331262,0.811509,0.009355,2
4,18,회현동,0.294433,0.155671,0.722658,0.000000,2

In [13]:
tmp7=concat([tmp6,hery3],ignore_index=True)
tmp7.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id,labels
0,2,삼청동,0.005332,0.090426,0.342620,0.602143,4.0,NaN
1,3,부암동,0.001699,0.067935,0.157400,0.602143,4.0,NaN
2,8,종로1.2.3.4가동,0.069040,0.206536,0.831703,0.063833,2.0,NaN
3,17,소공동,0.085553,0.331262,0.811509,0.009355,2.0,NaN
4,18,회현동,0.294433,0.155671,0.722658,0.000000,2.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [14]:
tmp8=DataFrame(tmp7['읍면동명'].value_counts())
tmp8.to_excel('./교집합결과/접근성지수,환경자족성지수 보팅결과.xlsx')
tmp7['읍면동명'].value_counts().head(10)

읍면동명
삼청동      2
화양동      2
양재제1동    2
삼성제1동    2
오륜동      2
난곡동      2
성현동      2
숭인제1동    2
대림제1동    2
신당동      2
Name: count, dtype: int64

### 여가생활지수,사회적약자 대상 최적의 군집 결과(양의지수) 교집합

> 해당 군집의 경우 극단적 쏠림 현상 발생. 여기서는 사회적 약자지수를 우선순위로 선정하였음

In [15]:
kmeans4=read_excel('./교집합결과/여가생활,사회적약자voting1.xlsx')
dbscan4=read_excel('./교집합결과/여가생활,사회적약자voting2.xlsx')
hery4=read_excel('./교집합결과/여가생활,사회적약자voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [16]:
tmp9=concat([kmeans4,dbscan4],ignore_index=True)
tmp9.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id
0,22,광희동,0.467260,0.051345,0.358815,0.001183,1
1,24,신당동,1.000000,0.031490,0.235243,0.301071,1
2,30,황학동,0.595757,0.041701,0.048504,0.602244,1
3,307,청림동,0.572641,0.073658,0.027165,0.240857,1
4,403,둔촌제1동,0.000000,1.000000,0.000000,0.421500,2

In [17]:
tmp10=concat([tmp9,hery4],ignore_index=True)
tmp10.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id,labels
0,22,광희동,0.467260,0.051345,0.358815,0.001183,1.0,NaN
1,24,신당동,1.000000,0.031490,0.235243,0.301071,1.0,NaN
2,30,황학동,0.595757,0.041701,0.048504,0.602244,1.0,NaN
3,307,청림동,0.572641,0.073658,0.027165,0.240857,1.0,NaN
4,403,둔촌제1동,0.000000,1.000000,0.000000,0.421500,2.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [18]:
tmp11=DataFrame(tmp10['읍면동명'].value_counts())
tmp11.to_excel('./교집합결과/여가생활,사회적약자 보팅결과.xlsx')
tmp10['읍면동명'].value_counts().head(10)

읍면동명
광희동      2
회현동      2
신당동      2
신사동      2
돈암제2동    2
행당제2동    2
을지로동     2
명동       2
상계제2동    2
소공동      2
Name: count, dtype: int64

### 여가생활지수,접근성지수 대상 최적의 군집 결과(양의지수) 교집합

In [19]:
kmeans5=read_excel('./교집합결과/여가생활,접근성지수voting1.xlsx')
dbscan5=read_excel('./교집합결과/여가생활,접근성지수voting2.xlsx')
hery5=read_excel('./교집합결과/여가생활,접근성지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [20]:
tmp12=concat([kmeans5,dbscan5],ignore_index=True)
tmp12.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id
0,8,종로1.2.3.4가동,0.069040,0.206536,0.831703,0.063833,2
1,17,소공동,0.085553,0.331262,0.811509,0.009355,2
2,18,회현동,0.294433,0.155671,0.722658,0.000000,2
3,19,명동,0.158472,0.445774,1.000000,0.003588,2
4,22,광희동,0.467260,0.051345,0.358815,0.001183,1

In [21]:
tmp13=concat([tmp12,hery5],ignore_index=True)
tmp13.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id,labels
0,8,종로1.2.3.4가동,0.069040,0.206536,0.831703,0.063833,2.0,NaN
1,17,소공동,0.085553,0.331262,0.811509,0.009355,2.0,NaN
2,18,회현동,0.294433,0.155671,0.722658,0.000000,2.0,NaN
3,19,명동,0.158472,0.445774,1.000000,0.003588,2.0,NaN
4,22,광희동,0.467260,0.051345,0.358815,0.001183,1.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [22]:
tmp14=DataFrame(tmp13['읍면동명'].value_counts())
tmp14.to_excel('./교집합결과/여가생활,접근성지수 보팅결과.xlsx')
tmp13['읍면동명'].value_counts().head(10)

읍면동명
종로1.2.3.4가동    3
을지로동           3
소공동            3
황학동            3
신당동            3
청림동            3
광희동            3
명동             3
회현동            3
한강로동           2
Name: count, dtype: int64

### 사회적약자,접근성지수 대상 최적의 군집 결과(양의지수) 교집합

>  해당 군집의 경우 극단적 쏠림 현상 발생. 여기서는 사회적 약자지수를 우선순위로 선정하였음

In [23]:
kmeans6=read_excel('./교집합결과/사회적약자,접근성지수voting1.xlsx')
dbscan6=read_excel('./교집합결과/사회적약자,접근성지수voting2.xlsx')
hery6=read_excel('./교집합결과/사회적약자,접근성지수voting3.xlsx')

#### concat 메서드 활용하여 데이터프레임끼리 묶어줌

In [24]:
tmp15=concat([kmeans6,dbscan6],ignore_index=True)
tmp15.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id
0,1,사직동,0.006464,0.041923,0.333275,0.038269,5
1,2,삼청동,0.005332,0.090426,0.342620,0.602143,5
2,7,가회동,0.003559,0.078064,0.266902,0.003047,5
3,8,종로1.2.3.4가동,0.069040,0.206536,0.831703,0.063833,1
4,9,종로5.6가동,0.162506,0.180645,0.395959,0.000617,5

In [25]:
tmp16=concat([tmp15,hery6],ignore_index=True)
tmp16.head()

,Unnamed: 0,읍면동명,여가생활지수minmax,사회적약자_지원_인프라_밀집도minmax,접근성지수minmax,환경자족성지수minmax,cluster_id,labels
0,1,사직동,0.006464,0.041923,0.333275,0.038269,5.0,NaN
1,2,삼청동,0.005332,0.090426,0.342620,0.602143,5.0,NaN
2,7,가회동,0.003559,0.078064,0.266902,0.003047,5.0,NaN
3,8,종로1.2.3.4가동,0.069040,0.206536,0.831703,0.063833,1.0,NaN
4,9,종로5.6가동,0.162506,0.180645,0.395959,0.000617,5.0,NaN

#### 3개 군집 결과를 묶은 후 읍면동명으로 count하여 중복 선정(교집합)된 곳이 시범사업지 후보 대상

In [26]:
tmp17=DataFrame(tmp16['읍면동명'].value_counts())
tmp17.to_excel('./교집합결과/사회적약자,접근성지수 보팅결과.xlsx')
tmp16['읍면동명'].value_counts().head(10)

읍면동명
사직동      3
장충동      3
삼성제1동    3
여의동      3
가산동      3
한강로동     3
삼청동      3
을지로동     3
광희동      3
남영동      3
Name: count, dtype: int64